---
layout: default
title: DevOps
permalink: /devops/
---

<div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="tag__info-box">
            <div class="tag__counter">
            <span>{{ site.tags['devops'].size }}</span>
            <small>{% if site.tags[page.tag].size < 2 %}Post{% else %}Posts{% endif %}</small>
            </div>
            <h2 class="tag__name">DevOps</h2>
        </div>
        <div class="row">
        {% for post in site.posts reversed %}
        {% if post.tags contains 'devops' %}
            {% include article.html %}
        {% endif %}
        {% endfor %}
        </div>
      </div>
    </div>
</div>