---
layout: default
title: Project
permalink: /portfolio/
---

<div class="container">
  <p style="margin-bottom: 2vw;"> </p>
  <h2 class="portfolio__page__title"> Project </h2>
    {% for post in site.posts %}
      {% if post.portfolio %}
        {% include portfolio_article.html %}
      {% endif %}
    {% endfor %}
</div>

https://tobiasahlin.com/blog/chartjs-charts-to-get-you-started/

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<canvas id="pie-chart" height="400vh"></canvas>
<script src="/js/Chart.js"></script>

{% include pagination.html %}