---
layout: default
title: Portfolio
permalink: /portfolio/
---

<img src='/images/beautiful_sunset.png'
    style="display: block; margin: 0 auto; border-radius: 8px; width: 75%;">


<h5> </h5>

<div class="container">
    <h3 class="section__title">Project</h3>
    <h5> </h5>
    <div class="row animate">
        {% for post in site.posts %}
          {% if post.portfolio %}
            {% include article.html %}
          {% endif %}
        {% endfor %}
    </div>
</div>

{% include pagination.html %}