---
layout: default
title: Projects
permalink: /projects/
---

<div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="tag__box">
            <div class="tag__counter">
              <span>{{ site.categories['project'].size }}</span>
              <small>Projects</small>
            </div>
            <h2 class="tag__name">Project</h2>
        </div>
        <div class="article__container">
        {% for post in site.posts reversed %}
        {% if post.categories contains 'project' %}
            {% include project.html %}
        {% endif %}
        {% endfor %}
        </div>
      </div>
    </div>
</div>
