---
layout: default
title: Python
permalink: /python/
---
<div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="tag__info-box">
            <div class="tag__counter">
            <span>{{ site.tags['python'].size }}</span>
            <small>{% if site.tags[page.tag].size < 2 %}Post{% else %}Posts{% endif %}</small>
            </div>
            <h2 class="tag__name">Python</h2>
        </div>
        <div class="row">
        {% for post in site.posts reversed %}
        {% if post.tags contains 'python' %}
            {% include article.html %}
        {% endif %}
        {% endfor %}
        </div>
      </div>
    </div>
</div>
