---
layout: default
title: Code Architecture
---

<div class="container">
  <div class="row">
    <div class="col col-12">
      <div class="tag__box">
          <div class="tag__counter">
            <span>{{ site.tags['Code_Architecture'].size }}</span>
            <small>Posts</small>
          </div>
          <h2 class="tag__name">Code Architecture</h2>
      </div>
      <div class="article__container">
      {% for post in site.posts reversed %}
      {% if post.tags contains 'Code_Architecture' %}
          {% include article.html %}
      {% endif %}
      {% endfor %}
      </div>
    </div>
  </div>
</div>
