---
layout: default
title: Data Analytics
permalink: /data_analytics/
---
<div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="tag__box">
            <div class="tag__counter">
            <span>{{ site.categories['data_analytics'].size }}</span>
            <small>{% if site.categories[page.category].size < 2 %}Post{% else %}Posts{% endif %}</small>
            </div>
            <h2 class="tag__name">Data Analytics</h2>
        </div>
        <div class="row">
        {% for post in site.posts reversed %}
        {% if post.categories contains 'data_analytics' %}
            {% include article.html %}
        {% endif %}
        {% endfor %}
        </div>
      </div>
    </div>
</div>
