/*
  Syntax Highlighting
*/

.highlight {
  margin-bottom: 32px;
  background: var(--syntax-highlighting-background);

  .highlighter-rouge & {
    background: rgb(29, 31, 39);
    border-radius: 9px;
  }
  .p     { color: lightgrey; font-weight: bold}
  .n     { color: lightgrey; font-weight: bold}
  .c     { color: forestgreen; font-style: italic } // Comment
  // .err   { color: #a61717; background-color: #e3d2d2 } // Error
  .k     { color: rgb(182, 121, 233); font-weight: bold } // Keyword
  .o     { font-weight: bold } // Operator
  .cm    { color: forestgreen; font-style: italic } // Comment.Multiline
  .cp    { color: forestgreen; font-weight: bold } // Comment.Preproc
  .c1    { color: forestgreen; font-style: italic } // Comment.Single
  .cs    { color: forestgreen; font-weight: bold; font-style: italic } // Comment.Special
  .gd    { color: #000; background-color: #fdd } // Generic.Deleted
  .gd .x { color: #000; background-color: #faa } // Generic.Deleted.Specific
  .ge    { font-style: italic } // Generic.Emph
  // .gr    { color: #a00 } // Generic.Error
  .gh    { color: #999 } // Generic.Heading
  .gi    { color: #000; background-color: #dfd } // Generic.Inserted
  .gi .x { color: #000; background-color: #afa } // Generic.Inserted.Specific
  .go    { color: #888 } // Generic.Output
  .gp    { color: #555 } // Generic.Prompt
  .gs    { font-weight: bold } // Generic.Strong
  .gu    { color: #aaa } // Generic.Subheading
  .gt    { color: #a00 } // Generic.Traceback
  .kc    { color: rgb(86, 156, 215); font-weight: bold }// Keyword.Constant
  .kd    { color: rgb(86, 156, 215); font-weight: bold } // Keyword.Declaration
  .kp    { color: rgb(86, 156, 215); font-weight: bold } // Keyword.Pseudo
  .kr    { color: rgb(86, 156, 215); font-weight: bold } // Keyword.Reserved
  .kt    { color: #5d76bf; font-weight: bold } // Keyword.Type
  .m     { color: #099 } // Literal.Number
  // .s     { color: #ec2355 } // Literal.String
  .na    { color: rgb(182, 121, 233); font-weight: bold } // Name.Attribute
  .nb    { color: darksalmon; font-weight: bold } // Name.Builtin
  .nc    { color: #5d76bf; font-weight: bold } // Name.Class
  .no    { color: #008080 } // Name.Constant
  .ni    { color: #800080 } // Name.Entity
  .nl    { color: rgb(121, 186, 226); font-weight: bold } 
  .ne    { color: #900; font-weight: bold } // Name.Exception
  .nf    { color: darksalmon; font-weight: bold } // Name.Function
  .nn    { color: #555 } // Name.Namespace
  .nt    { color: #4d65dc } // Name.Tag
  // .nv    { color: #008080 } // Name.Variable
  .ow    { color: rgb(182, 121, 233); font-weight: bold } // Operator.Word
  .w     { color: #bbb } // Text.Whitespace
  // .mf    { color: #099 } // Literal.Number.Float
  // .mh    { color: #099 } // Literal.Number.Hex
  // .mi    { color: #099 } // Literal.Number.Integer
  // .mo    { color: #099 } // Literal.Number.Oct
  .sb    { color:  rgb(209, 147, 121)} // Literal.String.Backtick
  .sc    { color:  rgb(209, 147, 121)} // Literal.String.Char
  .sd    { color:  rgb(209, 147, 121)} // Literal.String.Doc
  .s2    { color:  rgb(209, 147, 121)} // Literal.String.Double
  .se    { color:  rgb(209, 147, 121)} // Literal.String.Escape
  .sh    { color:  rgb(209, 147, 121)} // Literal.String.Heredoc
  .si    { color:  rgb(209, 147, 121)} // Literal.String.Interpol
  .sx    { color:  rgb(209, 147, 121)} // Literal.String.Other
  .sr    { color:  rgb(209, 147, 121)} // Literal.String.Regex
  .s1    { color:  rgb(209, 147, 121)} // Literal.String.Single
  .ss    { color:  rgb(209, 147, 121)} // Literal.String.Symbol
  .bp    { color: #999 } // Name.Builtin.Pseudo
  .vc    { color: #008080 } // Name.Variable.Class
  .vg    { color: #008080 } // Name.Variable.Global
  .vi    { color: #008080 } // Name.Variable.Instance
  .il    { color: #099 } // Literal.Number.Integer.Long
}
