<!-- begin hero -->
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="hero__inner">

          <div class="hero__left">
            <h1 class="hero__title">{{ site.hero.hero__title }}</h1>
            <p class="hero__description">{{ site.hero.hero__description }}</p>
            <h6> </h6>
            <p class="hero__description", style="margin-top: 0.5em;">AI skills</p>
            <a href="{{ site.baseurl }}/Python">
              <img src='https://img.shields.io/badge/Python-3776AB?style=for-the-badge&logo=python&logoColor=white'>
            </a>
            <a href="{{ site.baseurl }}/Pytorch">
              <img src='https://img.shields.io/badge/Pytorch-F44336?style=for-the-badge&logo=pytorch&logoColor=white'>
            <a href="{{ site.baseurl }}/pandas">
              <img src='https://img.shields.io/badge/Pandas-00599C?style=for-the-badge&logo=pandas&logoColor=white'>
            </a>
            <p class="hero__description", style="margin-top: 0.5em;">Data engineering skills</p>
            <a href="{{ site.baseurl }}/Kafka">
              <img src="https://img.shields.io/badge/Kafka-783BF9?style=for-the-badge&logo=apachekafka&logoColor=white"/>
            </a>
            <a href="{{ site.baseurl }}/Flink">
              <img src="https://img.shields.io/badge/Flink-F93B78?style=for-the-badge&logo=apacheflink&logoColor=white" />
            </a>
            <a href="{{ site.baseurl }}/Elasticsearch">
              <img src="https://img.shields.io/badge/ElasticSearch-004E9F?style=for-the-badge&logo=elasticsearch&logoColor=white" />
            </a>
            <a href="{{ site.baseurl }}/Spark">
              <img src="https://img.shields.io/badge/Spark-F26822?style=for-the-badge&logo=apachespark&logoColor=white" />
            </a>
            <a href="{{ site.baseurl }}/Airflow">
              <img src="https://img.shields.io/badge/Airflow-EEEEEE?style=for-the-badge&logo=apacheairflow&logoColor=black" />
            </a>
            <p class="hero__description", style="margin-top: 0.5em;">Backend skills</p>
            <a href="{{ site.baseurl }}/Docker">
              <img src="https://img.shields.io/badge/Docker-1A86FD?style=for-the-badge&logo=docker&logoColor=white" />
            </a>
            <a href="{{ site.baseurl }}/Kubernetes">
              <img src="https://img.shields.io/badge/Kubenetes-40D1F5?style=for-the-badge&logo=kubernetes&logoColor=white" />
            </a>
            <a href="{{ site.baseurl }}/MySQL">
              <img src='https://img.shields.io/badge/MySQL-00000F?style=for-the-badge&logo=mysql&logoColor=white'>
            </a>
            <a href="{{ site.baseurl }}/MongoDB">
              <img src='https://img.shields.io/badge/MongoDB-4EA94B?style=for-the-badge&logo=mongodb&logoColor=white'>
            </a>
            <p class="hero__description", style="margin-top: 0.5em;">Social skills</p>
            <a href="{{ site.baseurl }}/Git">
              <img src='https://img.shields.io/badge/GitHub-100000?style=for-the-badge&logo=github&logoColor=white'>
            </a>
          </div>

          <div class="hero__right">
            <div class="hero__image">
              <img class="lazy" data-src="{{ site.hero.hero__image }}" alt="{{site.author.name}}'s Picture">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- end hero -->