<div class="portfolio_wrapper">
  <!--portfolio image-->
  <div class="portfolio_image">
    {% if post.image %}
    <a class="article__image" href="{{post.url | prepend: site.baseurl}}">
      <img src="{{site.baseurl}}{{post.image}}" alt="{{post.title}}">
    </a>
    {% endif %}
  </div>

  <!--portfolio description-->
  <div class="portfolio_content">
    <div class="portfolio_title">
      <a href="{{ post.url | prepend: site.baseurl }}">Title: {{ post.title }}</a>
    </div>
    <p class="portfolio_content_row">Date: {{ post.start }}</p>
    <p class="portfolio_content_row">Status: {{ post.status }}</p>
    <p class="portfolio_content_row">Skills: {{ post.skill }}</p>
    
    {% if post.description %}
    <p class="portfolio_content_row">Description: {{ post.description }}</p>
    {% endif %}

  </div>

</div>