<div class="sidebar-list">
    <div class="sidebar-section">
        <div class="sidebar-major-item">
            <div class="sidebar-major-item-title">Computer Science</div>
            <img src="/images/dropDownBtn.png" style="width: 16px; object-fit: contain;" class="sidebar-major-item-img">
        </div>
        <div class="sidebar-sub-container">
            <div class="sidebar-sub-list">
                <a href="{{ site.baseurl }}/_pages/tags/cs/os">
                    <div class="sidebar-sub-item">
                        <img src="/images/dropDownBtn.png" style="width: 12px; object-fit: contain;" class="sidebar-major-item-img">
                        <div class="badge__container">
                            <img src='/images/badges/os.svg' style="width: 14px;">
                        </div>
                        <div>OS</div>
                    </div>
                </a>
                <a href="{{ site.baseurl }}/_pages/tags/cs/network">
                    <div class="sidebar-sub-item">
                        <img src="/images/dropDownBtn.png" style="width: 12px; object-fit: contain;" class="sidebar-major-item-img">
                        <div class="badge__container">
                            <img src='/images/badges/network.svg' style="width: 14px;">
                        </div>
                        <div>Network</div>
                    </div>
                </a>
                <a href="{{ site.baseurl }}/_pages/tags/cs/database">
                    <div class="sidebar-sub-item">
                        <img src="/images/dropDownBtn.png" style="width: 12px; object-fit: contain;" class="sidebar-major-item-img">
                        <div class="badge__container">
                            <img src='/images/badges/database.svg' style="width: 14px;">
                        </div>
                        <div>Database</div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="sidebar-section">
        <div class="sidebar-major-item">
            <div class="sidebar-major-item-title">Language</div>
            <img src="/images/dropDownBtn.png" style="width: 16px; object-fit: contain;" class="sidebar-major-item-img">
        </div>
        <div class="sidebar-sub-container">
            <div class="sidebar-sub-list">
                <a href="{{ site.baseurl }}/_pages/tags/language/Code_Architecture">
                    <div class="sidebar-sub-item">
                        <img src="/images/dropDownBtn.png" style="width: 12px; object-fit: contain;" class="sidebar-major-item-img">
                        <div class="badge__container">
                            <img src='/images/badges/book.svg' style="width: 14px;">
                        </div>
                        <div>Code Architecture</div>
                    </div>
                </a>
                <a href="{{ site.baseurl }}/_pages/tags/language/python">
                    <div class="sidebar-sub-item">
                        <img src="/images/dropDownBtn.png" style="width: 12px; object-fit: contain;" class="sidebar-major-item-img">
                        <div class="badge__container">
                            <img src='/images/badges/python.svg' style="width: 14px;">
                        </div>
                        <div>Python</div>
                    </div>
                </a>
                <a href="{{ site.baseurl }}/_pages/tags/language/javascript">
                    <div class="sidebar-sub-item">
                        <img src="/images/dropDownBtn.png" style="width: 12px; object-fit: contain;" class="sidebar-major-item-img">
                        <div class="badge__container">
                            <img src='/images/badges/javascript.svg' style="width: 14px;">
                        </div>
                        <div>Javascript</div>
                    </div>
                </a>
                <a href="{{ site.baseurl }}/_pages/tags/language/typescript">
                    <div class="sidebar-sub-item">
                        <img src="/images/dropDownBtn.png" style="width: 12px; object-fit: contain;" class="sidebar-major-item-img">
                        <div class="badge__container">
                            <img src='/images/badges/typescript.svg' style="width: 14px;">
                        </div>
                        <div>Typescript</div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="sidebar-section">
        <div class="sidebar-major-item">
            <div class="sidebar-major-item-title">Backend</div>
            <img src="/images/dropDownBtn.png" style="width: 16px; object-fit: contain;" class="sidebar-major-item-img">
        </div>
        <div class="sidebar-sub-container">
            <div class="sidebar-sub-list">
                <a href="{{ site.baseurl }}/_pages/tags/backend/backend_theory">
                    <div class="sidebar-sub-item">
                        <img src="/images/dropDownBtn.png" style="width: 12px; object-fit: contain;" class="sidebar-major-item-img">
                        <div class="badge__container">
                            <img src='/images/badges/book.svg' style="width: 14px;">
                        </div>
                        <div>Backend Theory</div>
                    </div>
                </a>
                <a href="{{ site.baseurl }}/_pages/tags/backend/nodejs">
                    <div class="sidebar-sub-item">
                        <img src="/images/dropDownBtn.png" style="width: 12px; object-fit: contain;" class="sidebar-major-item-img">
                        <div class="badge__container">
                            <img src='/images/badges/nodejs.svg' style="width: 14px;">
                        </div>
                        <div>Node.js</div>
                    </div>
                </a>
                <a href="{{ site.baseurl }}/_pages/tags/backend/nestjs">
                    <div class="sidebar-sub-item">
                        <img src="/images/dropDownBtn.png" style="width: 12px; object-fit: contain;" class="sidebar-major-item-img">
                        <div class="badge__container">
                            <img src='/images/badges/nestjs.svg' style="width: 14px;">
                        </div>
                        <div>NestJS</div>
                    </div>
                </a>
                <a href="{{ site.baseurl }}/_pages/tags/backend/fastapi">
                    <div class="sidebar-sub-item">
                        <img src="/images/dropDownBtn.png" style="width: 12px; object-fit: contain;" class="sidebar-major-item-img">
                        <div class="badge__container">
                            <img src='/images/badges/fastapi.svg' style="width: 14px;">
                        </div>
                        <div>FastAPI</div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="sidebar-section">
        <div class="sidebar-major-item">
            <div class="sidebar-major-item-title">Frontend</div>
            <img src="/images/dropDownBtn.png" style="width: 16px; object-fit: contain;" class="sidebar-major-item-img">
        </div>
        <div class="sidebar-sub-container">
            <div class="sidebar-sub-list">
                <a href="{{ site.baseurl }}/_pages/tags/frontend/html-css">
                    <div class="sidebar-sub-item">
                        <img src="/images/dropDownBtn.png" style="width: 12px; object-fit: contain;" class="sidebar-major-item-img">
                        <div class="badge__container">
                            <img src='/images/badges/html.svg' style="width: 14px;">
                        </div>
                        <div>HTML/CSS</div>
                    </div>
                </a>
                <a href="{{ site.baseurl }}/_pages/tags/frontend/react">
                    <div class="sidebar-sub-item">
                        <img src="/images/dropDownBtn.png" style="width: 12px; object-fit: contain;" class="sidebar-major-item-img">
                        <div class="badge__container">
                            <img src='/images/badges/react.svg' style="width: 14px;">
                        </div>
                        <div>React</div>
                    </div>
                </a>
                <a href="{{ site.baseurl }}/_pages/tags/frontend/nextjs">
                    <div class="sidebar-sub-item">
                        <img src="/images/dropDownBtn.png" style="width: 12px; object-fit: contain;" class="sidebar-major-item-img">
                        <div class="badge__container">
                            <img src='/images/badges/nextjs.svg' style="width: 14px;">
                        </div>
                        <div>Next.js</div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="sidebar-section">
        <div class="sidebar-major-item">
            <div class="sidebar-major-item-title">Data Engineering</div>
            <img src="/images/dropDownBtn.png" style="width: 16px; object-fit: contain;" class="sidebar-major-item-img">
        </div>
        <div class="sidebar-sub-container">
            <div class="sidebar-sub-list">
                <a href="{{ site.baseurl }}/_pages/tags/data_engineering/mysql">
                    <div class="sidebar-sub-item">
                        <img src="/images/dropDownBtn.png" style="width: 12px; object-fit: contain;" class="sidebar-major-item-img">
                        <div class="badge__container">
                            <img src='/images/badges/mysql.svg' style="width: 14px;">
                        </div>
                        <div>MySQL</div>
                    </div>
                </a>
                <a href="{{ site.baseurl }}/_pages/tags/data_engineering/mongodb">
                    <div class="sidebar-sub-item">
                        <img src="/images/dropDownBtn.png" style="width: 12px; object-fit: contain;" class="sidebar-major-item-img">
                        <div class="badge__container">
                            <img src='/images/badges/mongodb.svg' style="width: 14px;">
                        </div>
                        <div>MongoDB</div>
                    </div>
                </a>
                <a href="{{ site.baseurl }}/_pages/tags/data_engineering/elastic">
                    <div class="sidebar-sub-item">
                        <img src="/images/dropDownBtn.png" style="width: 12px; object-fit: contain;" class="sidebar-major-item-img">
                        <div class="badge__container">
                            <img src='/images/badges/elastic.svg' style="width: 14px;">
                        </div>
                        <div>Elastic</div>
                    </div>
                </a>
                <a href="{{ site.baseurl }}/_pages/tags/data_engineering/redis">
                    <div class="sidebar-sub-item">
                        <img src="/images/dropDownBtn.png" style="width: 12px; object-fit: contain;" class="sidebar-major-item-img">
                        <div class="badge__container">
                            <img src='/images/badges/redis.svg' style="width: 14px;">
                        </div>
                        <div>Redis</div>
                    </div>
                </a>
                <a href="{{ site.baseurl }}/_pages/tags/data_engineering/kafka">
                    <div class="sidebar-sub-item">
                        <img src="/images/dropDownBtn.png" style="width: 12px; object-fit: contain;" class="sidebar-major-item-img">
                        <div class="badge__container">
                            <img src='/images/badges/kafka.svg' style="width: 14px;">
                        </div>
                        <div>Kafka</div>
                    </div>
                </a>
                <a href="{{ site.baseurl }}/_pages/tags/data_engineering/spark">
                    <div class="sidebar-sub-item">
                        <img src="/images/dropDownBtn.png" style="width: 12px; object-fit: contain;" class="sidebar-major-item-img">
                        <div class="badge__container">
                            <img src='/images/badges/spark.svg' style="width: 14px;">
                        </div>
                        <div>Spark</div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="sidebar-section">
        <div class="sidebar-major-item">
            <div class="sidebar-major-item-title">AI</div>
            <img src="/images/dropDownBtn.png" style="width: 16px; object-fit: contain;" class="sidebar-major-item-img">
        </div>
        <div class="sidebar-sub-container">
            <div class="sidebar-sub-list">
                <a href="{{ site.baseurl }}/_pages/tags/ai/ai_basic">
                    <div class="sidebar-sub-item">
                        <img src="/images/dropDownBtn.png" style="width: 12px; object-fit: contain;" class="sidebar-major-item-img">
                        <div class="badge__container">
                            <img src='/images/badges/ai_basic.svg' style="width: 14px;">
                        </div>
                        <div>Basic</div>
                    </div>
                </a>
                <a href="{{ site.baseurl }}/_pages/tags/ai/pytorch">
                    <div class="sidebar-sub-item">
                        <img src="/images/dropDownBtn.png" style="width: 12px; object-fit: contain;" class="sidebar-major-item-img">
                        <div class="badge__container">
                            <img src='/images/badges/pytorch.svg' style="width: 14px;">
                        </div>
                        <div>Pytorch</div>
                    </div>
                </a>
                <a href="{{ site.baseurl }}/_pages/tags/ai/nlp">
                    <div class="sidebar-sub-item">
                        <img src="/images/dropDownBtn.png" style="width: 12px; object-fit: contain;" class="sidebar-major-item-img">
                        <div class="badge__container">
                            <img src='/images/badges/nlp.svg' style="width: 14px;">
                        </div>
                        <div>NLP</div>
                    </div>
                </a>
                <a href="{{ site.baseurl }}/_pages/tags/ai/cv">
                    <div class="sidebar-sub-item">
                        <img src="/images/dropDownBtn.png" style="width: 12px; object-fit: contain;" class="sidebar-major-item-img">
                        <div class="badge__container">
                            <img src='/images/badges/cv.svg' style="width: 14px;">
                        </div>
                        <div>Computer Vision</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    
    <div class="sidebar-section">
        <div class="sidebar-major-item">
            <div class="sidebar-major-item-title">DevOps</div>
            <img src="/images/dropDownBtn.png" style="width: 16px; object-fit: contain;" class="sidebar-major-item-img">
        </div>
        <div class="sidebar-sub-container">
            <div class="sidebar-sub-list">
                <a href="{{ site.baseurl }}/_pages/tags/devops/git">
                    <div class="sidebar-sub-item">
                        <img src="/images/dropDownBtn.png" style="width: 12px; object-fit: contain;" class="sidebar-major-item-img">
                        <div class="badge__container">
                            <img src='/images/badges/git.svg' style="width: 14px;">
                        </div>
                        <div>Git</div>
                    </div>
                </a>
                <a href="{{ site.baseurl }}/_pages/tags/devops/docker">
                    <div class="sidebar-sub-item">
                        <img src="/images/dropDownBtn.png" style="width: 12px; object-fit: contain;" class="sidebar-major-item-img">
                        <div class="badge__container">
                            <img src='/images/badges/docker.svg' style="width: 14px;">
                        </div>
                        <div>Docker</div>
                    </div>
                </a>
                <a href="{{ site.baseurl }}/_pages/tags/devops/kubernetes">
                    <div class="sidebar-sub-item">
                        <img src="/images/dropDownBtn.png" style="width: 12px; object-fit: contain;" class="sidebar-major-item-img">
                        <div class="badge__container">
                            <img src='/images/badges/kubernetes.svg' style="width: 14px;">
                        </div>
                        <div>Kubernetes</div>
                    </div>
                </a>
                <a href="{{ site.baseurl }}/_pages/tags/devops/aws">
                    <div class="sidebar-sub-item">
                        <img src="/images/dropDownBtn.png" style="width: 12px; object-fit: contain;" class="sidebar-major-item-img">
                        <div class="badge__container">
                            <img src='/images/badges/aws.svg' style="width: 14px;">
                        </div>
                        <div>AWS</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>