---
layout: default
title: MySQL
---

<div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="tag__box">
            <div class="tag__counter">
              <span>{{ site.tags['mysql'].size }}</span>
              <small>Posts</small>
            </div>
            <h2 class="tag__name">MySQL</h2>
        </div>
        <div class="article__container">
        {% for post in site.posts reversed %}
        {% if post.tags contains 'mysql' %}
            {% include article.html %}
        {% endif %}
        {% endfor %}
        </div>
      </div>
    </div>
</div>
