---
layout: default
title: Data Structure
---

<div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="tag__box">
            <div class="tag__counter">
              <span>{{ site.tags['Data-Structure'].size }}</span>
              <small>Posts</small>
            </div>
            <h2 class="tag__name">Data Structure</h2>
        </div>
        <div class="article__container">
        {% for post in site.posts reversed %}
        {% if post.tag == 'Data-Structure' %}
            {% include article.html %}
        {% endif %}
        {% endfor %}
        </div>
      </div>
    </div>
</div>
