/* Article */
.article__container {
  display: grid;
  gap: 24px;
  margin-top: 24px;
  box-sizing: border-box;
  grid-template-columns: repeat(3, minmax(0, 1fr));

  @media only screen and (max-width: 1140px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media only screen and (max-width: $tablet) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.article {
  margin-bottom: 32px;
  will-change: transform;
  transition: transform .2s;
  box-shadow: 0 2px 3px -1px rgb(0, 0, 0 / 0.1);
  border-radius: 0.5rem;
  overflow: hidden;

  &:hover {
    text-decoration: none;
    transform: translateY(-3px);

    .article__title a {
      text-decoration: none;
    }
  }
}

.article__head {
  position: relative;
}

.article__date {
  position: absolute;
  z-index: 1;
  top: 16px;
  left: 16px;
  display: inline-block;
  padding: 8px 12px;
  font-size: 12px;
  line-height: 1;
  font-weight: 500;
  border-radius: 4px;
  color: var(--heading-font-color);
  background: var(--background-color);
  pointer-events: none;
}

.article__image {
  position: relative;
  transform: translate(0);
  display: block;
  height: 0;
  margin-bottom: 12px;
  padding-bottom: 62%;
  // border-radius: 8px;
  overflow: hidden;
  background: var(--background-alt-color);

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
  }
}

.video-icon {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;

  .circle {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    transform: scale(1, 1);

    &.pulse {
      animation-timing-function: ease;
      animation: pulse 2s infinite;
      background-color: rgba(255,255,255,0.25);
    }
  }

  svg {
    fill: rgba(255,255,255,0.25);
    stroke: var(--light-blue);
    stroke-linejoin: round;
    stroke-width: 5;
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(4.5px);
    transition: all 0.3s;
  }
}

.article__content {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 8px;
}

.article__title {
  font-size: 18px;
  font-weight: 200;
  text-decoration-line: none;
  margin-top: 24px;
  margin-bottom: 12px;

  a {
    
    &:hover {
      color: var(--heading-font-color);
    }
  }
}

.article__excerpt {
  margin-bottom: 0;
  font-size: 14px;
  color: var(--text-alt-color);
}

.article__category {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
}

.article__category_text {
  font-size: small;
  color: var(--category-font);
  font-weight: 500;
  background-color: rgba(246, 209, 255, 0.8);
  padding: 2px 18px;
  margin-right: 8px;
  border-radius: 1rem;
}

.article__category_text:hover {
  color: purple;
}

.article__category_tag_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.article__tag {
  padding: 6px 18px;
  margin: 4px 8px 4px 0;
  font-size: small;
  line-height: 1;
  font-weight: 500;
  text-transform: capitalize;
  border: none;
  border-radius: 1rem;
  color: var(--tag-font);
  transition: none;
  background-color: rgba(161, 255, 215, 0.8);

  &:last-child {
    margin-right: 0;
  }
}