.sidebar-main-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
  
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 250px;
    margin-left: auto;
    margin-right: auto;
    
}

.sidebar-container {
    position:fixed;
    top: 0px;
    left: 0px;
    width: 250px;
    height: 100%;
    box-shadow: 0 4px 6px -1px rgb(0, 0, 0 / 0.1);
}

.sidebar-list {
    margin-top: 16px;
}

.sidebar-major-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: 6px;
    margin-right: 6px;
    border-radius: 0.5rem;
    cursor: pointer;
    transition-duration: 300ms;
}

.sidebar-major-item:hover {
    background-color: var(--sidebar-background-color);
    color: black;
}

.sidebar-major-item-title {
    font-size: 16px;
}

.sidebar-major-item-img {
    transition-duration: 200ms;
}

.sidebar-sub-container {
    display: grid;
    overflow: hidden;
    transition: all;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    height: 0;
}

.sidebar-sub-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.sidebar-sub-item {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    align-items: center;
    font-size: 16px;
    gap: 12px;
    cursor: pointer;
    padding-top: 6px;
    transition-duration: 200ms;
}

.sidebar-sub-item:hover {
    // background-color: aliceblue;
    color: $theme-color;
}

.badge__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(242, 242, 242, 0.8);
    padding: 5px 5px
}