/* Color Scheme */

:root {
  --brand-color: #0073ec;
  --white: #fff;
  --light-gray: #f0f0f0;
  --light-blue: #f3f7ff;
  --blue-gray: #716f8a;
  --gray: #9e9e9e;
  --dark: #0c101a;
  --dark-blue: #1e2740;

  --background-color: var(--white);
  --background-alt-color: var(--light-blue);
  
  --text-color: var(--dark-blue);
  --text-alt-color: var(--blue-gray);
  
  --heading-font-color: var(--dark-blue);

  --link-color: var(--dark-blue);
  --link-color-hover: var(--dark-blue);

  --button-color: var(--white);
  --button-background-color: var(--brand-color);
  --button-background-hover: #4f31c7;

  --border-color: var(--light-blue);
  --border-color-alt: var(--light-blue);

  --th-color: cadetblue;
  --tr-color: var(--light-gray);
  --table-border: olivedrab;
  --th-font-color: aliceblue;
  --tr-font-color: black;

  --language-plaintext-text: cornflowerblue;
  
  --category-font: rgba(248, 56, 155, 0.8);
  --tag-font: rgba(0, 171, 34, 0.8);
  --hero-background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  --hero-font: cadetblue;
  --hero-desc-font: var(--blue-gray);
  --very-important-color: crimson;
  --sidebar-background-color: lightblue;
  --post-ol-background-color: whitesmoke;
}

:root[dark] {
  --brand-color: #0073ec;
  --white: #fff;
  --light-gray: #f0f0f0;
  --gray: #9e9e9e;
  --dark: #111016;

  --background-color: var(--dark);
  --background-alt-color: #1a1a1f;
  
  --text-color: var(--gray);
  --text-alt-color: var(--gray);
  
  --heading-font-color: var(--light-gray);

  --link-color: var(--light-gray);
  --link-color-hover: var(--light-gray);

  --button-color: var(--white);
  --button-background-color: var(--brand-color);
  --button-background-hover: #4f31c7;

  --border-color: #252629;
  --border-color-alt: #080b12;

  --th-color: darkcyan;
  --tr-color: darkslategrey;
  --table-border: olivedrab;
  --th-font-color: lightblue;
  --tr-font-color: lightgrey;

  --syntax-highlighting-background: #2d2d2de9;
  --language-plaintext-text: bisque;

  --category-font: rgba(216, 0, 111, 0.8);
  --tag-font: rgba(0, 111, 6, 0.8);
  --hero-background: linear-gradient(-225deg, #CBBACC 0%, #2580B3 100%);
  --hero-font: bisque;
  --hero-desc-font: aliceblue;
  --very-important-color: indianred;
  --sidebar-background-color: lightsteelblue;
  --post-ol-background-color: darkgrey;
}