<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  {% if site.google-analytics %}
    {% include google-analytics.html %}
  {% endif %}

  {% include header.html %}

  <!-- begin content -->
  <div class="sidebar-main-container">
    <div class="sidebar-container">
      {% include sidebar.html %}
    </div>
    <div class="main-container">
      <main class="content" aria-label="Content">
        {{ content }}
      </main>
      {% include footer.html %}
    </div>

    <!-- end content -->
  </div>


  <script src="{{ site.baseurl }}/js/scripts.js"></script>
  <script src="{{ site.baseurl }}/js/common.js"></script>
  <script src="{{ site.baseurl }}/js/sidebar.js"></script>
</body>

</html>