---
layout: default
title: Django
permalink: /Django/
---

<div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="tag__box">
            <div class="tag__counter">
            <span>{{ site.tags['Django'].size }}</span>
            <small>Posts</small>
            </div>
            <h2 class="tag__name">Django</h2>
        </div>
        <div class="row">
        {% for post in site.posts reversed %}
        {% if post.tags contains 'Django' %}
            {% include article.html %}
        {% endif %}
        {% endfor %}
        </div>
      </div>
    </div>
</div>
