---
layout: default
title: Hadoop
permalink: /Hadoop/
---

<div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="tag__box">
            <div class="tag__counter">
            <span>{{ site.tags['Hadoop'].size }}</span>
            <small>Posts</small>
            </div>
            <h2 class="tag__name">Hadoop</h2>
        </div>
        <div class="row">
        {% for post in site.posts reversed %}
        {% if post.tags contains 'Hadoop' %}
            {% include article.html %}
        {% endif %}
        {% endfor %}
        </div>
      </div>
    </div>
</div>
